@import url(style.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px black solid;
    font-family: "Roboto Slab", serif, bold;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #000000;

  
}


/*menu de parte superior----------------------------------------*/
.menuarriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    position: relative;

}

.menuizq,
.menuder{
    
    padding-left: 5%;
    padding-right: 10%;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    justify-content: space-between;
    cursor: pointer;
    
}


.menuizq a,
.menuder a {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    justify-content: space-between;
    padding: 5%;
    cursor: pointer;
    color: #e58f00;
    text-decoration: none;
    

}
.menuder a:hover{
    cursor: pointer;
}

/*fondo y ubicaciones--------------------------------------------*/
.imgplato{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;   
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
}
.fondo1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    
}
.container{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #00000088;
    background-image: linear-gradient(#0b0b0ccc, rgba(52, 51, 58, 0.8)), url("../storage/img/img1.png");
}
.textBreakfast{
    width: 400px;
    height: none;
    position: relative;
    right: -50px;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: -0.007em;
    font-style: normal;
    font-weight: 782;
}

.content1{
    display: flex;
    justify-content: center;
    width: 400px;
    height: none;
    display: flex;
    justify-content: center;
    order: 1;
    color: #e58f00;
    
    
}
h1{
    margin-bottom: 15px;
    color: #e58f00;

}
p{
    color:white
}
h1, p, a{
    font-family: "Roboto Slab", serif, bold ;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: none;
    font-weight: 900;
    
}

button{
    padding: 15px;
    background-color: #e58f00;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: large;
    font-weight: 900;
    
}
/* parte de la segunda ventana--------------------------------------*/
.container2{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(hwb(0 0% 100%),rgb(0, 0, 0));


}
.imagen2ventana{
    
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 700px;
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 100px;

    

}
.textAboutUs{
    background: #000000;
    width: 400px;
    position: relative;
    font-weight: 900;
    background-color: black;
    
}
.cont2vent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color:hsl(0, 0%, 0%);
    
}
